{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Update Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully responsive section which can be used to form" name="description" />
    <meta content="Techzaa" name="author" />
    <link rel="shortcut icon" href="assets/images/favicon.svg">

    <!-- tabler css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <!-- Style css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    
</head>

<body>
    
    
    <section class="py-10 px-10 lg:min-h-screen flex items-center justify-center">
        <div id="errorMessage" class="error-message"></div>
        <div class="container" id="formContainer">
            <div class="max-w-5xl mx-auto border border-gray-200 bg-gray-50 rounded shadow-lg p-6 overflow-hidden">
                <!-- Applicant Personal Information Section -->
                <div class="text-center mb-14">
                    <img src="" class="h-6 mx-auto" alt="">
                    <p class="text-2xl font-bold text-gray-700 mt-6">Update Your Profile</p>
                    <p class="text-base font-medium text-gray-500 mt-1">Please fill out all the fields.</p>
                </div>

                <h4 class="text-lg font-semibold text-gray-700 mb-4">1. Applicant Personal Information</h4>
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-3">
                    <div class="md:col-span-1">
                        <label for="name" class="text-base font-medium text-gray-700">Name:</label>
                        <input type="text" name="name" id="name" placeholder="Full Name" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="last_name" class="text-base font-medium text-gray-700">Date of Birth:</label>
                        <input type="date" name="date_of_birth" id="date_of_birth" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="contact_number" class="text-base font-medium text-gray-700">Current Phone Number:</label>
                        <input type="text" name="contact_number" id="contact_number" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="email" class="text-base font-medium text-gray-700">Email Address:</label>
                        <input type="email" name="email" id="email" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="current_address" class="text-base font-medium text-gray-700">Current Residential Address:</label>
                        <textarea name="current_address" id="current_address" rows="1" class=" mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50"></textarea>
                    </div>
                    <div class="md:col-span-1">
                        <label for="permanent_address" class="text-base font-medium text-gray-700">Permanent Residential Address:</label>
                        <textarea name="permanent_address" id="permanent_address" rows="1" class=" mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50"></textarea>
                    </div>
                    <div class="md:col-span-1">
                        <label for="facebook_id" class="text-base font-medium text-gray-700">Facebook:</label>
                        <input type="text" name="facebook_id" id="facebook_id" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="instagram_id" class="text-base font-medium text-gray-700">Instagram:</label>
                        <input type="text" name="instagram_id" id="instagram_id" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                </div>

                <!-- Employment or Academic Details Section -->
                <h4 class="text-lg font-semibold text-gray-700 mt-8 mb-4">2. Employment or Academic Details</h4>
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-3">
                    <div class="md:col-span-1">
                        <label for="occupation" class="text-base font-medium text-gray-700">Current Job Title/Occupation:</label>
                        <select id="occupation" class="text-gray-700/80 block w-full rounded-md py-2 px-4 mt-2 bg-white border border-gray-300 focus:ring-transparent focus:border-gray-700/25">
                            <option value="0">Select...</option>
                            <option value="1">Student</option>
                            <option value="2">Salaried</option>
                            <option value="3">Self-Employed</option>
                            <option value="4">Others</option>
                        </select>
                    </div>
                    <div class="md:col-span-1">
                        <label for="company_name" class="text-base font-medium text-gray-700">Employer/Business Name:</label>
                        <input type="text" name="company_name" id="company_name" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="company_address" class="text-base font-medium text-gray-700">Employer/Business Address:</label>
                        <input type="text" name="company_address" id="company_address" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="work_number" class="text-base font-medium text-gray-700">Work Contact Number:</label>
                        <input type="text" name="work_number" id="work_number" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="salary" class="text-base font-medium text-gray-700">Annual/Monthly Salary (or business income):</label>
                        <input type="text" name="salary" id="salary" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="current_role" class="text-base font-medium text-gray-700">Years in Current Role/Business:</label>
                        <input type="text" name="current_role" id="current_role" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="college_name" class="text-base font-medium text-gray-700">College/University Name:</label>
                        <input type="text" name="college_name" id="college_name" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="course_name" class="text-base font-medium text-gray-700">Field of Study:</label>
                        <input type="text" name="course_name" id="course_name" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="year_of_admission" class="text-base font-medium text-gray-700">Year of Admission:</label>
                        <input type="number" id="year_of_admission" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="expected_graduation_year" class="text-base font-medium text-gray-700">Expected Graduation Year:</label>
                        <input type="text" id="expected_graduation_year" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="past_employement" class="text-base font-medium text-gray-700">Past Employment or Business Ventures:</label>
                        <input type="text" id="past_employement" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="achievements" class="text-base font-medium text-gray-700"> Achievements/Projects (optional):</label>
                        <input type="text" id="achievements" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                </div>
                <h4 class="text-lg font-semibold text-gray-700 mt-8 mb-4">3. Family Background Details</h4>
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-3">
                    <div class="md:col-span-1">
                        <label for="father_name" class="text-base font-medium text-gray-700">Father's Full Name:</label>
                        <input type="text" name="father_name" id="father_name" placeholder="Father's Name" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="mother_name" class="text-base font-medium text-gray-700">Mother's Full Name:</label>
                        <input type="text" name="mother_name" id="mother_name" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="siblings" class="text-base font-medium text-gray-700">Siblings (optional):</label>
                        <textarea name="siblings" id="siblings" rows="1" class=" mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50"></textarea>
                    </div>
                    <div class="md:col-span-1">
                        <label for="spouse_name" class="text-base font-medium text-gray-700">Spouse's Name (if married):</label>
                        <input type="text" name="spouse_name" id="spouse_name" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" placeholder="Spouse's Name" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="children_details" class="text-base font-medium text-gray-700">Children (if any):</label>
                        <textarea name="children_details" id="children_details" rows="1" class=" mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50"></textarea>
                    </div>
                </div>

                <h4 class="text-lg font-semibold text-gray-700 mt-8 mb-4">4. Residential and Contact Details</h4>
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-3">
                    <div class="md:col-span-1">
                        <label for="name" class="text-base font-medium text-gray-700">Type of Residence:</label>
                        <input type="text" name="type_of_residence" id="type_of_residence" placeholder="Owned, Rented, Shared" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="years_at_current_address" class="text-base font-medium text-gray-700">Years at Current Address:</label>
                        <input type="number" name="years_at_current_address" id="years_at_current_address" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" placeholder="Years" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="previous_address" class="text-base font-medium text-gray-700">Previous Addresses (last 5 years):</label>
                        <textarea name="previous_address" id="previous_address" rows="1" class=" mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50"></textarea>                    </div>
                </div>


                <h4 class="text-lg font-semibold text-gray-700 mt-8 mb-4">5. Financial Background</h4>
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-3">
                    <div class="md:col-span-1">
                        <label for="past_loans" class="text-base font-medium text-gray-700">Current and Past Loans:</label>
                        <textarea name="past_loans" id="past_loans" rows="1" class=" mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50"></textarea>
                    </div>
                    <div class="md:col-span-1">
                        <label for="total_monthly_emi_commitments" class="text-base font-medium text-gray-700">Total Monthly EMI Commitments:</label>
                        <input type="text" name="total_monthly_emi_commitments" id="total_monthly_emi_commitments" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" placeholder="EMI Commitments" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="credit_score" class="text-base font-medium text-gray-700">Credit Score (if available and with consent):</label>
                        <input type="text" name="credit_score" id="credit_score" placeholder="Credit Score" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" placeholder="Previous Addresses" />
                    </div>
                </div>


                <h4 class="text-lg font-semibold text-gray-700 mt-8 mb-4">6. Community and Personal Engagements</h4>
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-3">
                    <div class="md:col-span-1">
                        <label for="association_memberships" class="text-base font-medium text-gray-700">Clubs/Associations Memberships: </label>
                        <textarea name="association_memberships" id="association_memberships" rows="1" class=" mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50"  placeholder="Clubs/Associations"></textarea>
                    </div>
                </div>


                <h4 class="text-lg font-semibold text-gray-700 mt-8 mb-4">7. References</h4>
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-3">
                    <div class="md:col-span-1">
                        <label for="reference_name" class="text-base font-medium text-gray-700">Reference Name:</label>
                        <input type="text" name="reference_name" id="reference_name" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50"placeholder="Reference Name"/>

                    </div>
                    <div class="md:col-span-1">
                        <label for="reference_relationship" class="text-base font-medium text-gray-700">Reference Relationship:</label>
                        <input type="text" name="reference_relationship" id="reference_relationship"  placeholder="Relationship" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" placeholder="EMI Commitments" />
                    </div>
                    <div class="md:col-span-1">
                        <label for="reference_number" class="text-base font-medium text-gray-700">Contact Number:</label>
                        <input type="text" name="reference_number" id="reference_number" placeholder="Contact Number" class="h-10 mt-1 rounded px-4 w-full border border-gray-200 bg-gray-50" placeholder="Previous Addresses" />
                    </div>
                </div>


                <h4 class="text-lg font-semibold text-gray-700 mt-8 mb-4">8. Declaration</h4>
                <div class="mb-6">
                    <p class="text-sm text-gray-600 mb-4">
                        I hereby declare that the information provided is accurate and true to the best of my knowledge. I take full responsibility for the information provided.
                    </p>
                    <div class="flex items-center mb-4">
                        <input type="checkbox" id="agree" class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" required>
                        <label for="agree" class="ml-2 text-sm text-gray-700">I agree to the declaration above</label>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
                    <div>
                        <label for="applicant_signature" class="text-base font-medium text-gray-700">Applicant's Signature:</label>
                        <input type="file" id="applicant_signature" class="mt-1 block w-full text-lg text-gray-7    00 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" accept="image/*">
                    </div>
                    <div>
                        <label for="currentDate" class="text-base font-medium text-gray-700">Date:</label>
                        <input type="date" id="currentDate" class="mt-1 block w-full text-sm text-gray-600 bg-gray-50 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" readonly>
                    </div>
                </div>



                <!-- Submit Button -->
                <div class="md:col-span-5 text-right mt-6">
                    <button  type="submit" id="update_form" class="py-2 px-4 inline-block rounded font-bold text-white bg-blue-500 hover:bg-blue-700 transition-all duration-500">Submit</button>
                </div>
            </div>
        </div>
    </section>

<!-- Bootstrap JS (Optional but recommended for interactive components) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>    <script src="{% static 'libs/preline/preline.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'libs/preline/preline.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@tabler/icons@1.74.0/icons-react/dist/index.umd.min.js"></script>
<script src = "{% static 'js/imagecapture.js' %}"></script>
    <script>
        // Set current date in the date field
        const currentDate = new Date().toISOString().split('T')[0];
        document.getElementById('currentDate').value = currentDate;

        // Request permissions for audio and video
       async function requestPermissions() {
            try {
                await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
                document.getElementById('formContainer').style.display = 'block';
            } catch (error) {
                document.getElementById('errorMessage').textContent = 
                    "Please allow camera and audio permissions to access this form.";
            }
        }

        // Check permissions on load
        window.onload = requestPermissions; 

        $('#update_form').on('click', function(event) {
    
            event.preventDefault();

            
    
            var name = $('#name').val();
            var contact_number = $('#contact_number').val();
            var current_address = $('#current_address').val();
            var email = $('#email').val();
            var permanent_address = $('#permanent_address').val();
            var date_of_birth = $('#date_of_birth').val();
            var facebook_id  = $('#facebook_id').val();
            var instagram_id  = $('#instagram_id').val();
            var occupation = $('#occupation').val();
            var company_address = $('#company_address').val();
            var work_number = $('#work_number').val();
            var course_name = $('#course_name').val();
            var college_name = $('#college_name').val();
            var current_role = $('#current_role').val();
            var salary = $('#salary').val();
            var company_name = $('#company_name').val();
            var year_of_admission = $('#year_of_admission').val();
            var expected_graduation_year = $('#expected_graduation_year').val();
            var past_employement = $('#past_employement').val();
            var father_name = $('#father_name').val();
            var father_occupation = $('#father_occupation').val();
            var mother_name = $('#mother_name').val();
            var siblings = $('#siblings').val();
            var spouse_name = $('#spouse_name').val();
            var children_details = $('#children_details').val();
            var type_of_residence = $('#type_of_residence').val();
            var years_at_current_address = $('#years_at_current_address').val();
            var previous_address = $('#previous_address').val();
            var past_loans = $('#past_loans').val();
            var total_monthly_emi_commitments = $('#total_monthly_emi_commitments').val();
            var credit_score = $('#credit_score').val();
            var association_memberships = $('#association_memberships').val();
            var reference_name = $('#reference_name').val();
            var reference_relationship = $('#reference_relationship').val();
            var reference_number = $('#reference_number').val();
            var achievements = $('#achievements').val();
            var date = $('#currentDate').val();
            
            var id = {{user.id}}
            console.log(id);
           
    
            // Create a FormData object
            var formData = new FormData();
    
            // Append form data manually
            formData.append('id',id);
            formData.append('name', name);
            formData.append('contact_number', contact_number);
            formData.append('email', email);
            formData.append('occupation',occupation);
            formData.append('date_of_birth',date_of_birth);
            formData.append('course_name',course_name);
            formData.append('college_name',college_name);
            formData.append('company_name',company_name);
            formData.append('current_residential_address', current_address);
            formData.append('permanent_residential_address',permanent_address);
            formData.append('facebook_id',facebook_id);
            formData.append('instagram_id',instagram_id);
            formData.append('company_address',company_address);
            formData.append('work_contact_number',work_number);
            formData.append('salary',salary);
            formData.append('years_in_current_role', current_role);
            formData.append('year_of_admission',year_of_admission);
            formData.append('expected_graduation_year',expected_graduation_year);
            formData.append('past_employement',past_employement);
            formData.append('achievements',achievements);
            formData.append('father_name',father_name);
            formData.append('father_occupation',father_occupation);
            formData.append('mother_name',mother_name);
            formData.append('siblings',siblings);
            formData.append('spouse_name',spouse_name);
            formData.append('children_details',children_details);
            formData.append('type_of_residence',type_of_residence);
            formData.append('years_at_current_address',years_at_current_address);
            formData.append('previous_address',previous_address);
            formData.append('current_and_past_loans',past_loans);
            formData.append('total_monthly_emi_commitments',total_monthly_emi_commitments);
            formData.append('credit_score',credit_score);
            formData.append('association_memberships',association_memberships);
            formData.append('reference_name',reference_name);
            formData.append('reference_relationship',reference_relationship);
            formData.append('reference_contact_number',reference_number);
            formData.append('date',date);

            
           
           
                var fileInput = document.getElementById('applicant_signature');

            if (fileInput.files.length > 0) {
                formData.append(applicant_signature, fileInput.files[0]);
            }
                
            
    
            // Send data via AJAX
            $.ajax({
                url: '/V2_DCEMI/update_details/',
                type: 'POST',
                data: formData,
                processData: false, 
                contentType: false,
                success: function(response) {
                    toastr.success('update successful!', 'Success');

                },
                error: function(xhr) {
                    var errors = xhr.responseJSON;
                    var firstKey = Object.keys(errors)[0];
                    var firstError = errors[firstKey][0];
                    toastr.error(firstError, 'Error');
                }
            });
        });
    </script>
</body>
</html>
